.pageeditor-frame {
  display: flex;
  flex-direction: column;
  background: #414645 linear-gradient(45deg, #262928 25%, #414645 25%, #414645 50%, #262928 50%, #262928 75%, #414645 75%, #414645 100%);
  background-size: 56.57px 56.57px;

  &:not([data-page]) {
    .hide-if-no-page {
      display: none;
    }
  }

  &[data-page] {
    .hide-if-page {
      display: none;
    }
  }

  iframe {
    flex: 1 1 auto;
    border-radius: var(--border-radius);
  }

  &[data-mobile='1'] iframe {
    max-width: 400px;
  }

  .pageeditor-frame-top {
    color: white;
    background: #333;
    border-radius: var(--border-radius);
    border-bottom: 2px solid #666;
    padding: 5px 10px;

    .pageeditor-frame-top-title {
      font-weight: bold;
      padding-top: 5px;
      padding-left: 20px;
    }

    .pageeditor-frame-top-addressbar {
      display: flex;
      align-items: center;
      gap: 10px;
    }

    .pageeditor-address {
      background: #222;
      border-radius: var(--border-radius);
      padding: 5px 10px;
      flex: 1 1 auto;
      user-select: none;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .framelix-button {
      background: #555;
      color: white;
    }
  }
}

.pageeditor-block-list-entry {
  padding: 10px;
  margin-bottom: 10px;
  border-bottom: 2px solid var(--color-page-bg-stencil);
  cursor: pointer;
  border-radius: var(--border-radius);

  &:hover {
    background: var(--color-page-bg-stencil);
  }
}

.pageeditor-website {
  .pageeditor-block-options {
    font-weight: bold;
    padding: 5px;
    border-radius: var(--border-radius);
    background: #eee linear-gradient(45deg, #ccc 25%, #eee 25%, #eee 50%, #ccc 50%, #ccc 75%, #eee 75%, #eee 100%);
    background-size: 56.57px 56.57px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    gap: 5px;
    border: 2px solid #ddd;

    &.pageeditor-block-options-first .sort-block-up {
      display: none;
    }

    &.pageeditor-block-options-last .sort-block-down {
      display: none;
    }

    button {
      margin-bottom: 0;
    }

    &:hover + .page-block {
      box-shadow: var(--color-alert-primary-bg) 0 0 20px;
    }
  }

  .pageeditor-block-options-title {
    flex: 1 1 auto;
  }

  &[data-sorting] .page-block {
    opacity: 0.1;
    pointer-events: none;
  }
}