.pageeditor-frame {
  display: flex;
  flex-direction: column;

  iframe {
    flex: 1 1 auto;
  }
}

.pageeditor-frame-top,
.pageeditor-frame-bottom {
  padding: 5px;
  background: var(--color-page-bg-stencil);
  border-radius: var(--border-radius);
}