.myself-pageblocks-navigation[data-layout='horizontal'] {
  max-width: calc(100% - 80px);

  nav {
    display: flex;
    flex: 1 1 auto;
    padding: 10px;
    position: relative;

    &[data-more='1'] .myself-pageblocks-navigation-more {
      display: block;
    }
  }

  .myself-pageblocks-navigation-navlist[data-level='0'] {
    display: flex;
    padding: 0;
    margin: 0;
    align-items: center;
    white-space: nowrap;
  }

  .myself-pageblocks-navigation-navlist:not([data-level='0']) {
    display: none;
  }

  .myself-pageblocks-navigation-navlist-logo {
    margin-right: 10px;

    img {
      width: 150px;
    }
  }
}

.myself-pageblocks-navigation[data-layout='vertical'] {
  .myself-pageblocks-navigation-navlist:not([data-level='0']):not(.myself-pageblocks-navigation-navlist-show) {
    display: none;
  }
}

.myself-pageblocks-navigation-more {
  display: none;
}

.myself-pageblocks-navigation-more .framelix-button {
  min-width: 50px;
  z-index: 1;

  &:before {
    font-size: 24px;
  }
}

.myself-pageblocks-navigation-navlist {
  list-style: none;
  margin: 0;
  padding: 0;

  &[data-level='0'] {
    padding: 10px;
  }

  a:any-link {
    display: block;
    padding: 5px;
  }

  .myself-pageblocks-navigation-navlist-group {
    padding: 5px;
    font-weight: bold;
  }
}

.myself-pageblocks-navigation-navlist-logo img {
  width: 100%;
}
