:root {
  --font: Arial, sans-serif;
  --font-size: 16px;
  --line-height: 1.4;
  --color-page-bg: white;
  --color-page-text: #111;
  --color-primary-hue: 210;
  --nav-color-text: var(--color-page-text);
  --nav-color-text-highlight: var(--color-primary-text);
}

body {
  padding: 0;
  margin: 0;
}

.page {
}

.page-inner {
  text-align: center;
}

.page-nav {
  overflow: hidden;
  background: var(--color-page-bg);
  padding: 10px;
  z-index: 2;
  border-bottom: 2px solid #eee;
  box-shadow: rgba(0, 0, 0, 0.1) 0 0 30px;
}

.page-nav-inner {
  text-align: center;
  margin: 0 auto;
  max-width: var(--page-max-width);
}

.page-nav-sticky {
  position: sticky;
  top: 0;
}

.page-nav .invisible {
  opacity: 0;
}

.page-nav ul {
  display: flex;
  white-space: nowrap;
  align-items: center;
  gap: 5px;
}

.page-nav ul,
.page-nav li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.page-nav .nav-entry,
.page-nav .nav-entry:any-link {
  background: transparent;
  border: 0;
  padding: 10px 20px;
  margin: 0;
  color: var(--nav-color-text);
  text-decoration: none;
  cursor: pointer;
  display: block;
  font-weight: bold;
  font-size: 1.1rem;
  border-radius: var(--border-radius);
}


.page-nav .nav-entry img {
  max-width: 150px;
}
.page-nav .nav-entry [data-image-type='svg'] {
  width: 150px;
}

.page-nav .nav-entry + span,
.page-nav .nav-entry:any-link + span {
  display: none;
}

.page-nav .nav-entry.nav-entry-active,
.page-nav .nav-entry:not(.nav-entry-image):hover,
.page-nav .nav-entry:any-link.nav-entry-active,
.page-nav .nav-entry:not(.nav-entry-image):any-link:hover {
  background: var(--nav-color-text-highlight);
  color: white;
  animation: nav-gelatine 0.5s;
}

.page-nav button.nav-entry {
  display: flex;
  align-items: center;
  justify-content: center;
}

.page-nav .nav-entry-group:after {
  content: "expand_more";
  font-family: "Material Icons", sans-serif;
  margin-left: 5px;
}

.page-nav .nav-entry-hidden {
  display: none;
}

.page-nav .show-more button:before {
  font-size: 24px;
  height: 30px;
  display: inline-flex;
  align-items: center;
}

@keyframes nav-gelatine {
  from, to {
    transform: scaleX(1);
  }
  25% {
    transform: scaleX(0.8);
  }
  50% {
    transform: scaleX(1.1);
  }
  75% {
    transform: scaleX(0.9);
  }
}

.popup-nav {
  padding: 5px;
  --color-popup-default-bg: var(--color-page-bg);
  --arrow-color: var(--color-page-bg);
  --color-popup-default-text: var(--color-page-text);
  text-align: center;
}

.popup-nav .page-nav {
  padding: 0;
}

.popup-nav .nav-entry,
.popup-nav .nav-entry:any-link,
.modal-nav .nav-entry,
.modal-nav .nav-entry:any-link {
  font-size: 1rem;
  margin-bottom: 2px;
}

.popup-nav ul {
  display: block;
}

.modal-nav ul {
  display: block;
}


.modal-nav .show-more {
  display: none;
}

.component-block img {
  max-width: 100%;
}

.component-block-inner {
  box-sizing: border-box;
  padding: 20px;
  text-align: left;
  margin: 0 auto;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.component-block-inner-max-width {
  text-align: center;
}

.component-block-inner-max-width > div {
  text-align: left;
  margin: 0 auto;
  box-sizing: border-box;
  z-index: 1;
}

.pagemyself-background-video {
  position: relative;
  overflow: hidden;
}

.pagemyself-background-video > video {
  position: absolute;
  z-index: -1;
}

.pagemyself-password-form {
  text-align: center;
  margin: 0 auto;
  max-width: 700px;
}

.pagemyself-password-form .framelix-form-field-container {
  justify-content: center;
}

.pagemyself-password-form .framelix-form-row-bottom {
  display: block;
}