:root {
  --font: Arial, sans-serif;
  --font-size: 16px;
  --line-height: 20px;
  --color-page-bg: white;
  --color-page-text: black;
  --nav-color-text: var(--color-page-text);
  --nav-color-text-highlight: var(--color-primary-text);
}

body {
  padding: 0;
  margin: 0;
}

.page-inner {
  box-sizing: border-box;
  padding: 20px;
  text-align: left;
}

.page-align-center {
  text-align: center;
}

.page-align-center .page-inner {
  margin: 0 auto;
}

.page-nav {
  overflow: hidden;

  .invisible {
    opacity: 0;
  }

  ul, li {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  .nav-entry,
  .nav-entry:any-link {
    background: transparent;
    border: 0;
    padding: 5px 5px 0;
    margin: 0;
    color: var(--nav-color-text);
    text-decoration: none;
    cursor: pointer;
    display: block;
    font-weight: bold;
    font-size: 1.1rem;

    & + span {
      display: inline-block;
      max-width: 60px;
      width: 100%;
      height: 4px;
      background: var(--nav-color-text-highlight);
      border-radius: 20px;
      transform: scaleX(0);
    }

    &.nav-entry-active,
    &:hover {
      color: var(--nav-color-text-highlight);

      & + span {
        animation: nav-gelatine 0.5s;
        transform: scaleX(1);
      }
    }
  }

  button.nav-entry {
    display: flex;
    align-items: center;
  }

  button.nav-entry:after {
    content: "expand_more";
    font-family: "Material Icons", sans-serif;
    margin-left: 5px;
  }
}

@keyframes nav-gelatine {
  from, to {
    transform: scaleX(1);
  }
  25% {
    transform: scaleX(0.8);
  }
  50% {
    transform: scaleX(1.1);
  }
  75% {
    transform: scaleX(0.9);
  }
}

.page-nav-top {
  .page-nav {
    background: var(--color-page-bg);
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 20px;
    text-align: center;

    ul {
      display: flex;
      white-space: nowrap;
      align-items: center;

      a:any-link, button {
        padding: 5px 15px 0;
      }
    }

    &.page-nav-top-wrap {
      ul {
        flex-wrap: wrap;
      }
    }

    &:not(.page-nav-top-wrap) {
      .nav-entry-hidden {
        display: none;
      }
    }
  }
}

.popup-nav {
  padding: 10px 20px 5px;
  --color-popup-default-bg: var(--color-page-bg);
  --arrow-color: var(--color-page-bg);
  --color-popup-default-text: var(--color-page-text);
  text-align: center;

  .nav-entry,
  .nav-entry:any-link {
    font-size: 1rem;
    font-weight: normal;
  }
}

.page-nav-left {
  .page-inner {
    display: flex;
    gap: 30px;
  }

  .page-nav {
    min-width: 250px;
    max-width: 250px;
  }
}
