:root {
  --myself-edit-font: var(--framelix-backend-font);
}

body {
  font-family: var(--myself-edit-font);

  input, textarea, select, button {
    font-family: var(--myself-edit-font);
  }
}

.myself-edit-frame {
  display: flex;
  align-content: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background: #414645 linear-gradient(45deg, #262928 25%, #414645 25%, #414645 50%, #262928 50%, #262928 75%, #414645 75%, #414645 100%);
  background-size: 56.57px 56.57px;
  box-sizing: border-box;
}

.myself-edit-frame-nav {
  width: 300px;
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
  background: #262928;
  box-shadow: black 0 0 20px;
  padding: 10px 30px;
  box-sizing: border-box;
  overflow: auto;
  color: white;
  text-align: center;

  .myself-edit-frame-nav-logo {
    text-align: center;
    padding: 10px;
    align-self: center;
    margin-top: 10px;

    img {
      height: 60px;
    }
  }

  button,
  a {
    text-align: left;
    display: flex;
    width: 100%;
    margin-bottom: 5px;
    justify-content: flex-start;
  }
}


.myself-edit-frame-nav-toggle {
  position: fixed;
  left: 300px;
  top: 0;
  color: white;
  padding: 15px;

  &[data-icon-left]:before {
    font-size: 24px;
  }
}

html[data-nav-status='closed'] {
  .myself-edit-frame-nav-toggle {
    left: 0;
  }

  .myself-edit-frame-nav {
    left: -300px;
  }

  .myself-edit-frame-content {
    margin-left: 40px;
  }
}

.myself-edit-frame-content {
  flex: 1 1 auto;
  display: flex;
  margin: 40px 40px 40px 340px;

  iframe {
    background: white;
    flex: 1 1 auto;
    border: 0;
  }
}

html[data-mobile='1'] iframe {
  max-width: 500px;
}

.myself-page-block-create-entries {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.myself-page-block-create-entry {
  flex: 1 1 auto;
  flex-basis: 400px;
  text-align: center;
  padding: 15px;
  box-shadow: rgba(0, 0, 0, 0.1) 0 0 10px;
  border-radius: var(--border-radius);
  cursor: pointer;

  &:hover {
    box-shadow: rgba(0, 0, 0, 0.3) 0 0 10px;
  }

}

.myself-page-block-create-select-title {
  margin: 5px 0;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  border-radius: 10px;
  min-height: 64px;

  div:first-child {
    flex: 1 1 auto;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    max-width: 64px;
    min-width: 64px;
    margin-right: 20px;
    min-height: 64px;
  }

  div:last-child {
    flex: 1 1 auto;
    text-align: left;
  }
}

.myself-page-block-create-select-desc {
  font-size: 90%;
  text-align: left;
  margin-top: 10px;
  width: 100%;
}

.myself-form-field-ace-editor {
  min-height: 50vh;
  font-size: 1rem;
}

.myself-edit-font {
  font-family: var(--myself-edit-font);

  input, textarea, select, button {
    font-family: var(--myself-edit-font);
  }
}

.myself-tab-edited {
  opacity: 0.7;
  margin-right: 10px;
}